 
 
 <script src="{baseURL}/static/app/addokr.js"></script>

  	
<form id="main-form">
	<div class="obj-form-title">
	What Are Your Objectives for the Period?
	</div>
	
	
	<input type="radio" name="period" id="period" value="1Q2012">This Quarter<br>
	<input type="radio" name="period" id="period" value="2Q2012">Next Quarter
	<div class="objective-input">
		
		1.  <input type="text" id="objective-1">
		
	</div>
	
	<div class="objective-input">
		
		2.  <input type="text" id="objective-2">
		
	</div>
	
	<div class="objective-input">
		
		3.  <input type="text" id="objective-3">
		
	</div>

	<div class="objective-input">
		
		4.  <input type="text" id="objective-4">
		
	</div>
	<input type="button" value="Next Step" id="obj-submit">
	<input type="hidden" value="" id="name">
</form>



  