
<br>

<div class="obj-form-title">
OKR's for {owner}
</div>

Period:<input type="text" id="period" value="{period}">

<div class="objective">
1. <input type="text" value="{objective1}" id="objective1">
</div>
<div class="amb">As measured by….</div>
<form id="objective-1-kr">

<ul>
<li><input type="text" id="kr1" value="{o1kr1}"></li>
<li><input type="text" id="kr2" value="{o1kr2}"></li>
<li><input type="text" id="kr3" value="{o1kr3}"></li>
<li><input type="text" id="kr4" value="{o1kr4}"></li>
</ul>
</form>

<div class="objective">
2. <input type="text" value="{objective2}" id="objective2">
</div>
<div class="amb">As measured by….</div>
<form id="objective-2-kr">
<ul>
<li><input type="text" id="kr1" value="{o2kr1}"></li>
<li><input type="text" id="kr2" value="{o2kr2}"></li>
<li><input type="text" id="kr3" value="{o2kr3}"></li>
<li><input type="text" id="kr4" value="{o2kr4}"></li>
</ul>
</form>

<div class="objective">
3. <input type="text" value="{objective3}" id="objective3">
</div>
<div class="amb">As measured by….</div>
<form id="objective-3-kr">

<ul>
<li><input type="text" id="kr1" value="{o3kr1}"></li>
<li><input type="text" id="kr2" value="{o3kr2}"></li>
<li><input type="text" id="kr3" value="{o3kr3}"></li>
<li><input type="text" id="kr4" value="{o3kr4}"></li>
</ul>
</form>

<div class="objective">
4. <input type="text" value="{objective4}" id="objective4">
</div>
<div class="amb">As measured by….</div>
<form id="objective-4-kr">

<ul>
<li><input type="text" id="kr1" value="{o4kr1}"></li>
<li><input type="text" id="kr2" value="{o4kr2}"></li>
<li><input type="text" id="kr3" value="{o4kr3}"></li>
<li><input type="text" id="kr4" value="{o4kr4}"></li>
</ul></form>

<input type="button" id="submit" value="Save"><br>
<input type="button" id="delete" value="Delete">	
 <input type="hidden" id="docid" value="{_id}">
  <input type="hidden" id="docrev" value="{_rev}">
   <input type="hidden" id="docfull" value="">
   <script src="{baseURL}/static/app/update.js"></script>
